@media (max-width: 789px){
    .cabecalho{
        display: flex;
        flex-direction: column;
       
    }

    .logo{
        justify-content: center;
        padding: 47px ;
    }

    .logo h1{
        font-size: 40px;
    }
    .menu{
        flex-direction: column;
        justify-content: center;
        font-size: 40px;
        text-align: center;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu ul li{
        margin: 30px;
    }

    .cadastro{
        margin: 40px;
        font-size: 18px;
    }
}