body{
    font-family: 'Public Sans', sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 45px;
}

.logo{
    display: flex;
    align-items: center;

    text-decoration: none;
}

.logo .imagem{
    width: 45px;
    height: 42px;
}

.logo h1{
    font-size: 20px;
    font-weight: 800;
    color: #000;
    margin-left: 5px;
}

.menu{
    display: flex;
    
    align-items: center;

    font-size: 15px;
}

.menu ul{
    display: flex;
    font-weight: 400;
}

.menu ul li{
    margin: 15px;
    
}

.link{
    text-decoration: none;
    padding: 11px 6px;

    transition: 0.3s ease-in-out;
}

.link:visited{
    color: #000;
}

.link:hover{
    background-color: #5BC241;
    color: #fff;
    padding: 11px 6px;
}

.cadastro{
    border: none;
    border-radius: 10px;
    padding: 10px 21px;
    background-color: #5BC241;
    color: #fff;
}